<template>
<div>
    <!-- ======================= TABLES =======================-->
    <div class="row">
        <div class="col-12">
            <div class="c-table-responsive@wide">
                <table class="c-table">
                    <thead class="c-table__head">
                    <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">Customer</th>
                        <th class="c-table__cell c-table__cell--head">Email</th>
                        <!--<th class="c-table__cell c-table__cell&#45;&#45;head">Lead Score</th>-->
                        <th class="c-table__cell c-table__cell--head"></th>
                        <th class="c-table__cell c-table__cell--head">Date d'inscription</th>
                        <!--<th class="c-table__cell c-table__cell&#45;&#45;head">Tags</th>-->
                        <th class="c-table__cell c-table__cell--head">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="c-table__row" v-for="client in clients">
                        <td class="c-table__cell">
                            <div class="o-media">
                                <div class="o-media__img u-mr-xsmall">
                                    <div class="c-avatar c-avatar--small">
                                        <img class="c-avatar__img"
                                             :src="`http://localhost:8000/admin_asset/images/`+client.image">
                                    </div>
                                </div>
                                <div class="o-media__body">
                                    <h6>{{client.name}}</h6>
                                    <!--<p>Graphic Designer</p>-->
                                </div>
                            </div>
                        </td>
                        <td class="c-table__cell">{{client.email}}</td>
                        <td class="c-table__cell">
                            <span class="c-badge c-badge--info" v-if="client.isClient">Client</span>
                            <span class="c-badge c-badge--primary" v-else>Abonne</span>
                        </td>
                        <!--<th class="c-table__cell">223</th>-->
                        <td class="c-table__cell">{{client.created_at}}</td>
                        <!--<td class="c-table__cell">-->
                            <!--<a class="c-badge c-badge&#45;&#45;small c-badge&#45;&#45;info" href="#">sketch</a>-->
                            <!--<a class="c-badge c-badge&#45;&#45;small c-badge&#45;&#45;info" href="#">ui</a>-->
                            <!--<a class="c-badge c-badge&#45;&#45;small c-badge&#45;&#45;fancy" href="#">ux</a>-->
                        <!--</td>-->
                        <td class="c-table__cell">
                            <div class="c-dropdown dropdown">
                                <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                    More <i class="feather icon-chevron-down"></i>
                                </a>

                                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                                    <a class="c-dropdown__item dropdown-item" @click="clientClicked(client)" data-toggle="modal" data-target="#editClient"
                                       href="#">Modifier</a>
                                    <a class="c-dropdown__item dropdown-item"
                                       :href="'http://localhost:8000/admin/client/' + client.id">Voir
                                        Details</a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>


</tbody>
</table>
</div>
</div>
</div>
<!--<div class="row col-md-10 col-md-offset-1">-->
        <!--<table class="table table-striped ">-->

            <!--<tr>-->
                <!--<th>Clients</th>-->
                <!--<th></th>-->
                <!--<th>Innscrit</th>-->
                <!--<th>Eail</th>-->
                <!--<th><input type="text" name="search" class="search" id="search"></th>-->
            <!--</tr>-->
            <!--<tbody class="border-tab">-->

            <!--<tr id="" v-for="client in clients">-->
                <!--<td><button data-toggle="modal"-->
                            <!--data-target="#showClient"-->
                            <!--class="btn client_show"-->
                            <!--@click="clientClicked(client)">{{client-->
                    <!--.name}}</button></td>-->
                <!--<td>-->
                    <!--<div class="client dark"-->
                         <!--v-if="client.isClient">-->
                        <!--Client</div>-->
                    <!--<div class="dark" v-else>Abonne</div>-->
                <!--</td>-->
                <!--<td>{{client.created_at}}</td>-->
                <!--<td>{{client.email}}</td>-->
                <!--<td class="text-center">-->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <!--<span class="glyphicon glyphicon-option-vertical"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                            <!--<li><button-->
                                    <!--@click="clientClicked(client)"-->
                                    <!--class="btn btn-default action"  data-toggle="modal"-->
                                        <!--data-target="#editClient"> <i class="far fa-edit"></i>-->
                                <!--Modifier</button></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

    <!--</div>-->


    <div class="c-modal modal fade" id="editClient" tabindex="-1" role="dialog" aria-labelledby="editClient">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__body">
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="feather icon-x"></i>
                </span>
                    <h3 class="u-mb-small">Modifier Client</h3>
                    <form action="#" method="post" id="edit_client_form">
                        <input type="hidden" name="_token" :value="csrf">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 upload-btn-wrapper col-md-offset-3">
                                    <label class="custom_btn c-btn "> Change  <input type="file" id="image"
                                                                                    name="image"
                                                                                    @change="previewImage"></label>

                                </div>
                                <div class="image-preview col-md-4" v-if="imageData.length > 0" >
                                    <div class="c-avatar c-avatar--large">
                                        <img class="c-avatar__img preview" :src="imageData">
                                    </div>
                                    <!--<img class="preview"  width="72">-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="c-field__label" for="name">Nom Complet</label>
                                    <input type="text" class="c-input" v-validate="'required|email'" id="name" placeholder="Nom Complet" name="name"
                                           v-model="name">
                                </div>
                                <div class="col-md-6">
                                    <label class="c-field__label" for="email">Email</label>
                                    <input type="email" id="email" name="email" class="c-input" placeholder="Email"
                                           v-model="email" disabled="true">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label class="c-field__label" for="tel">N Tel</label>
                                    <input type="text" id="tel"
                                           name="tel"
                                           class="c-input"
                                           placeholder="N Tel"
                                           v-model="tel">
                                </div>

                            </div>

                        </div>
                        <div class="o-line" style="margin-top: 20px">
                            <a href="#" class="c-btn c-btn--info c-btn--outline" data-dismiss="modal" aria-label="Close">Cancel</a>
                            <button class="c-btn c-btn--info" type="submit" @click="submit">Modifier</button>
                        </div>
                    </form>
                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div><!-- // .c-modal -->



    <!-- modal for modification -->
<!--<div class="modal fade" id="editClient" tabindex="-1"-->
     <!--role="dialog" aria-labelledby="modalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
                <!--<h3 class="modal-title text-center" id="lineModalLabel">Modifier Client</h3>-->
                <!--<p class="text-center">Ipsum lorum</p>-->
            <!--</div>-->
            <!--<div class="modal-body test">-->


                <!--&lt;!&ndash; content goes here &ndash;&gt;-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<form id="edit_client_form"-->
                              <!--action="#" enctype="multipart/form-data">-->
                            <!--<input type="hidden" name="_token" :value="csrf">-->
                            <!--<div class="form-group col-md-6">-->
                                <!--<label for="name"> Nom Et-->
                                    <!--Prenom </label>-->
                                <!--<input type="text" class="form-control" id="name" placeholder="Nom Complet" name="name"-->
                                       <!--v-model="name">-->
                            <!--</div>-->

                            <!--<div class="form-group col-md-6">-->
                                <!--<label for="email"> Email </label>-->
                                <!--<input type="email" id="email"-->
                                       <!--name="email"-->
                                       <!--class="form-control"-->
                                       <!--placeholder="Email"-->
                                       <!--v-model="email"-->
                                       <!--disabled="true">-->
                            <!--</div>-->
                                <!--<div class="form-group col-md-6">-->
                                    <!--<label for="tel">-->
                                        <!--Tel </label>-->
                                    <!--<input type="text" id="tel"-->
                                           <!--name="tel"-->
                                           <!--class="form-control"-->
                                           <!--placeholder="N Tel"-->
                                           <!--v-model="tel">-->
                                <!--</div>-->
                            <!--<div class="form-group col-md-3">-->
                                    <!--<label for="image">-->
                                        <!--Image </label>-->
                                    <!--<input type="file" id="image"-->
                                           <!--name="image"-->
                                           <!--class="form-control" @change="previewImage">-->
                            <!--</div>-->
                            <!--<div class="image-preview col-md-3" v-if="imageData.length > 0" >-->
                                <!--<img class="preview" :src="imageData" width="72">-->
                            <!--</div>-->
                            <!--<div class="col-md-12 col-md-offset-5">-->
                                <!--<button class="btn btn-success"-->
                                         <!--@click="submit">Edit</button>-->

                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->

                <!--</div>-->


            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
<!--</div>-->

    <!--end modal modififcation-->

    <!--end modal show-->


</div>
</template>

<script>

export default {
    data () {
        return {
            clients: null,
            name: '',
            email: '',
            tel: '',
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            id: '',
            showModal: false,
            client: null,
            isClient: false,
            show_facture: false,
            imageData: '',
            showModal: true
        }
    },
    mounted() {

        this.getClient();
    },
    methods: {
        clientClicked: function (c) {
            this.client = c;
            this.name = this.client.name;
            this.email = this.client.email;
            this.tel = this.client.tel;
            this.id = this.client.id;
            this.isClient = this.client.isClient;
            // this.image = 'http://localhost:8000/admin_asset/images/' + this.client.image;
            this.imageData= 'http://localhost:8000/admin_asset/images/' + this.client.image;
            this.show_facture = true;
        },
        getClient: function() {
            var self = this;
            axios
                .get('/admin/getClient')
                .then(response => (this.clients = response.data))
        },
        submit: function (event) {
            var self = this;
            event.preventDefault();
            let formData = new FormData();

            formData.append('_token', this.csrf);
            formData.append('name', this.name);

            formData.append('tel', this.tel);
            formData.append('image', document.getElementById('image').files[0]);
            // alert(document.getElementById('image').files[0])
            axios
                .post('/admin/client/update/'+ this.id, formData)
                .then(function (response) {
                    $("#editClient").modal('hide');
                    $('.modal-backdrop').remove()
                    self.getClient();
                })

            // axios
            //     .post('/admin/client/update/'+ this.id, {
            //         _token: this.csrf,
            //         name: this.name,
            //         tel: this.tel
            //     })
            //     .then(function (response) {
            //         $("#editClient").modal('hide');
            //         self.getClient();
            //     })
        },

        previewImage: function(event) {
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.imageData = e.target.result;
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        }
    }




}
</script>
<style>

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    /*margin: 20px 0;*/
}


.label {
    background-color: #1b6d85;
    padding: 12px;
    text-align: center;
    /*font-size: 1.3em;*/

}

.info_client {
    padding: 5px;
    font-size: 1.3em;
    font-weight:  bold;
    /*text-align: center;*/
}
.info_client .row {
    margin: 15px;
}

.modal-body {
    overflow-x: auto;
}
.inf {
    margin-left: 5px;
}
.client_show {
    width: 100%;
}
.client_show:hover {
    background-color: #98cbe8;
}


.file-upload-form, .image-preview {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
}
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}



.upload-btn-wrapper input[type=file] {
    /*position: relative;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*visibility: hidden;*/
    display: none;
}
/*.upload-btn-wrapper {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
/*}*/

/*.custom_btn {*/
    /*border: 2px solid gray;*/
    /*color: gray;*/
    /*background-color: white;*/
    /*!*padding: 8px 20px;*!*/
    /*padding-top: 10px;*/
    /*border-radius: 8px;*/
    /*font-size: 20px;*/
    /*font-weight: bold;*/
/*}*/

.custom_btn {
    margin-top: 40px;
}

/*.upload-btn-wrapper input[type=file] {*/
    /*!*font-size: 100px;*!*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 40px;*/
    /*opacity: 0;*/
/*}*/
</style>