<template>
    <div class="container" >
        <h4>Liste Factures</h4>
        <table class="table table-striped ">

            <tr>
                <th>N Facture</th>
                <th>Status</th>
            </tr>

            <tbody class="border-tab">
             <tr v-for="facture in factures">
                    <td>{{facture.n_facture}}</td>
                    <td v-if="facture.status">
                        <i class="fas fa-circle"></i> Paye
                    </td>
                        <td v-else>
                            <i class="fas fa-circle-notch"></i> Encours
                        </td>
                </tr>
                </tbody>
            </table>

        </div>
</template>

<script>
    export default {
        data () {
            return {
                factures: null,
            }
        },
        mounted() {
            axios
                .get('/admin/getFactures/' + this.id)
                .then(response => (this.factures = response.data))
        },
        props: {
            id: Number
        },

    }
</script>
