<template>
    <div>
        <button class="c-btn c-btn--info pull-right" data-toggle="modal" data-target="#edit-password"><span
                class="glyphicon
        glyphicon-plus-sign"></span> Modifier Mot De Passe</button>

        <div class="c-modal modal fade" id="edit-password" tabindex="-1" role="dialog" aria-labelledby="edit-password">
            <div class="c-modal__dialog modal-dialog" role="document">
                <div class="c-modal__content">
                    <div class="c-modal__body">
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="feather icon-x"></i>
                </span>

                        <span class="c-icon c-icon--large u-mb-small">
                  <i class="feather icon-anchor"></i>
                </span>
                        <h3 class="u-mb-small">Ajouter nouvel utilisateur</h3>
                        <form method="post" id="addForm">

                            <input type="hidden" name="_token" value="8qyAlc6tfGRlTZl2kJbfiEEYftgvSuVdQ5SfBTBH">
                            <div class="container">
                                <div class="row">
                                    <div class="" v-if="show">Incorrect</div>
                                    <div class="col-md-6">
                                        <input type="password" class="c-input" id="old_password" placeholder="Old Password"
                                               name="old_password" v-model="old_password">
                                    </div>

                                    <div class="col-md-6">
                                        <input type="password" id="password" name="password" class="c-input"
                                               placeholder="New Password" v-model="password">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-6">
                                        <input type="password" id="password_confirmation" name="password_confirmation"
                                               class="c-input"
                                               placeholder="Confirmation Password">
                                    </div>

                                </div>
                            </div>

                            <div class="o-line" style="margin-top: 20px">
                                <button class="c-btn c-btn--info" type="submit" @click="submit">Edit</button>
                            </div>
                        </form>
                    </div>
                </div><!-- // .c-modal__content -->
            </div><!-- // .c-modal__dialog -->
        </div><!-- // .c-modal -->
    </div>

</template>

<script>
    export default {
        props: {
            id: Number
        },
        data() {
            return {
                old_password: '',
                password: '',
                correct: '',
                show: false,
            };
        },
        methods: {

            submit: function (event) {
                event.preventDefault();
                this.checkPassword();
                if (this.correct == false) {
                    this.show = true;
                }

                // alert(this.correct)

                else {
                    this.show = false;
                    var self = this;

                    let formData = new FormData();

                    formData.append('_token', this.csrf);
                    formData.append('password', this.password);
                    axios
                        .post('/admin/change_password/'+ this.id, formData)
                        .then(function (response) {
                            // $("#editClient").modal('hide');
                            // $('.modal-backdrop').remove()
                            // self.getClient();
                            alert(response);
                        })
                }


                // axios
                //     .post('/admin/client/update/'+ this.id, {
                //         _token: this.csrf,
                //         name: this.name,
                //         tel: this.tel
                //     })
                //     .then(function (response) {
                //         $("#editClient").modal('hide');
                //         self.getClient();
                //     })
            },

            checkPassword: function() {
                var self = this;
                axios
                    .get('/admin/check_password/' + this.id + '/' + this.old_password)
                    .then(response => (
                        this.correct = response.data
                        // alert(this.correct)
                       ))
            },
        }
    }

</script>
