.add{
    margin-top: 30px;
}

.test{
    background-color: #E0E0E0

}

/*dashboard*/

#dashboard{background-color: ghostwhite;padding-top: 100px;padding-bottom: 100px;}
.row-1 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-1 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-3 .ser-col-4{border-right:solid 1px #ccc;}


@media (max-width:768px){
    .ser-col-4-l{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;border-left:solid 1px #ccc;}
    .ser-col-4{border-left:solid 1px #ccc;border-bottom: solid 1px #ccc;}
}

.ser-col{width:100%;height:auto;text-align: center;padding:20px;position: relative;}
.icon-col{width:80px;height:80px;border-radius: 50%;text-align: center;margin-left: auto;margin-right: auto;}
.icon-col i{font-size: 35px;padding: 20px;}
.circle {
    position: absolute;
    bottom: -11px;
    right: -24px;
    z-index: 99;
}
.circle i{color:#ccc;font-size: 18px;background-color:ghostwhite;}
/*.btn {*/
    /*display: inline-block;*/
    /*padding: 6px 12px;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*line-height: 1.42857143;*/
    /*text-align: center;*/
    /*color: red;*/
    /*background-image: none;*/
    /*border: 1px solid red;*/
    /*border-radius: 0px;*/
/*}*/
.ser-col h4{color:#777;
    margin-bottom: 20px;}

.ser-col p{color:#3e3b3b;
    margin-bottom: 20px;}

/*====== service 1 ====*/
.ser-1 .icon-col{border: solid 1px red;}
.ser-1 .icon-col i{color:red;}
.ser-1 .btn{color:red;border: 1px solid red;}

/*====== service 2 ====*/
.ser-2 .icon-col {border: solid 1px green;}
.ser-2 .icon-col i{color:green;}
.ser-2 .btn{color:green;border: 1px solid green;}

/*====== service 3 ====*/
.ser-3 .icon-col {border: solid 1px chocolate;}
.ser-3 .icon-col i{color:chocolate;}
.ser-3 .btn{color:chocolate;border: 1px solid chocolate;}

/*====== service 4 ====*/
.ser-4 .icon-col {border: solid 1px deepskyblue;}
.ser-4 .icon-col i{color:blue;}
.ser-4 .btn{color:deepskyblue;border: 1px solid deepskyblue;}

.search{
    width: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.svg');
    /*background-position: 10px 10px;*/
    background-repeat: no-repeat;
    padding: 5px 3px 5px 3px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}

.search_focus{
    width: 70%;
}

.error{
    color: red;
}

input.error{
    border: 2px solid red;
}
.valid {
    border: 2px solid #4B9E4C;
}




.ui-menu{
    width: 20%;
    color: #1b6d85;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.ui-menu-item{
    list-style: none;
    /*width%;*/
    background-color: wheat;
    margin: 0;
    padding: 8px;
}
.ui-menu-item:hover {
    background: blue;
}

.action{
    width: 100%;
    border: none;
    margin: 0;
    border-radius: 0;
}

.pad {
    padding: 0;
}

.client {
    border: 1px solid #2a2a2a;
    text-align: center;
    border-radius: 8px;
    background-color: floralwhite;
    font-weight: bold;
    padding: 3px;
}

.dark {
    background-color: #74787E;
}

#label {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 25px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#label input {
    display: none;
}

div#upl {

    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 25px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

