@import (less) "//cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.css";

.menu {
.bg-near-white;
.b--solid;
.br--bottom;
.bw1;
.b--black-20;
.white-80;
.br2;
}

.menu li {
.ba;
.bl-0;
.bt-0;
.br-0;

&:not(:last-child) {
 .b--solid;
 .b--black-30;
 }
}

.dd-link {
.f6;
.pa2;
.link;
.dim;
.w-100;
.h-100;
.dib;
.b--white-10;
.black-80;
}