@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vdw2jk');
  src:  url('../fonts/icomoon.eot?vdw2jk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vdw2jk') format('truetype'),
    url('../fonts/icomoon.woff?vdw2jk') format('woff'),
    url('../fonts/icomoon.svg?vdw2jk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
  color: #3289c7;
}
.icon-arrows-3:before {
  content: "\e901";
}
.icon-shapes:before {
  content: "\e902";
  color: #3289c7;
}
.icon-commerce:before {
  content: "\e903";
  color: #3289c7;
}
.icon-folder:before {
  content: "\e904";
  color: #3289c7;
}
.icon-school:before {
  content: "\e905";
  color: #3289c7;
}
.icon-interface-1:before {
  content: "\e906";
  color: #3289c7;
}
.icon-arrows-2:before {
  content: "\e907";
  color: #3289c7;
}
.icon-null-2:before {
  content: "\e908";
  color: #3289c7;
}
.icon-danger:before {
  content: "\e909";
  color: #3289c7;
}
.icon-envelope:before {
  content: "\e90a";
  color: #3289c7;
}
.icon-graph:before {
  content: "\e90b";
}
.icon-null-1:before {
  content: "\e90c";
  color: #3289c7;
}
.icon-thumb:before {
  content: "\e90d";
  color: #3289c7;
}
.icon-money-3:before {
  content: "\e90e";
  color: #3289c7;
}
.icon-arrows-1:before {
  content: "\e90f";
  color: #3289c7;
}
.icon-multimedia:before {
  content: "\e910";
  color: #3289c7;
}
.icon-transport:before {
  content: "\e911";
  color: #3289c7;
}
.icon-medical:before {
  content: "\e912";
  color: #3289c7;
}
.icon-buildings:before {
  content: "\e913";
  color: #3289c7;
}
.icon-money-2:before {
  content: "\e914";
  color: #3289c7;
}
.icon-money-1:before {
  content: "\e915";
  color: #3289c7;
}
.icon-communication:before {
  content: "\e916";
  color: #3289c7;
}
.icon-arrows:before {
  content: "\e917";
  color: #3289c7;
}
.icon-null:before {
  content: "\e918";
  color: #3289c7;
}
.icon-interface:before {
  content: "\e919";
  color: #3289c7;
}
.icon-medal:before {
  content: "\e91a";
  color: #3289c7;
}
.icon-smile:before {
  content: "\e91b";
  color: #3289c7;
}
.icon-people-2:before {
  content: "\e91c";
  color: #3289c7;
}
.icon-pen:before {
  content: "\e91d";
  color: #3289c7;
}
.icon-sheet:before {
  content: "\e91e";
}
.icon-money:before {
  content: "\e91f";
  color: #3289c7;
}
.icon-suitcase:before {
  content: "\e920";
  color: #3289c7;
}
.icon-people-1:before {
  content: "\e921";
  color: #3289c7;
}
.icon-landscape:before {
  content: "\e922";
}
.icon-business:before {
  content: "\e923";
  color: #3289c7;
}
.icon-people:before {
  content: "\e924";
  color: #3289c7;
}
.icon-signs:before {
  content: "\e925";
  color: #3289c7;
}
.icon-technology:before {
  content: "\e926";
  color: #3289c7;
}
.icon-globe:before {
  content: "\e927";
  color: #3289c7;
}
